@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Gotham';
    src:url('../src/fonts/Gotham-Black.otf') format('openType');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Gotham';
    src:url('../src/fonts/Gotham-Bold.otf') format('openType');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Gotham';
    src:url('../src/fonts/Gotham-Light.otf') format('openType');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Gotham';
    src:url('../src/fonts/Gotham-Medium.otf') format('openType');
    font-weight:500;
    font-style: normal;
}

@font-face{
    font-family: 'Gotham';
    src:url('../src/fonts/Gotham-MediumItalic.otf') format('openType');
    font-weight:500;
    font-style: italic;
}

:root{
    --main-gradient : linear-gradient(to top right, #8b5cf6, #ec4899);
   
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

